In [1]:
#import library:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [46]:
#Import Data: 
data= pd.read_excel('Sale Data Final.xlsx')
data

                         visitor_id       date  no_of_order  Day  Month  Year
0      /f4j8qx535UCFJNxx13w65G4Oio= 2019-11-01            1    1     11  2019
1      /hYvcu32bHoLWxYT2XvPGvE7nWM= 2019-11-01            1    1     11  2019
2      /w2K8geGTx+wX00VpxJiHeXfeJM= 2019-11-01            1    1     11  2019
3      +2UZCewm6vsWZ51KA18TaQF5mIo= 2019-11-01            1    1     11  2019
4      +Bs058M58ladlHd5UfAw6qiSQwo= 2019-11-01            3    1     11  2019
...                             ...        ...          ...  ...    ...   ...
89079  ZPR2fSY3Syx0CEhnTHudbd+zWu0= 2020-02-08            1    8      2  2020
89080  zrcN/J8m8r3Nx/ZK+RKGDGPP6mk= 2020-02-08            1    8      2  2020
89081  ZRMYbrt66TGr3Ym45qAyna8vzdw= 2020-02-08            2    8      2  2020
89082  ZtRZJZTci1GqYL7vm9Kfs+bkH2M= 2020-02-08            4    8      2  2020
89083                Khách vãng lai 2020-02-08          769    8      2  2020

[89084 rows x 6 columns]

<H1> I. Create "Old customer" table to get the list of new and old customer

<H3> Sort Data based on ID and order date:

In [3]:
data_sort =  data.sort_values(by=['visitor_id', 'date'], ascending= [1,1], ignore_index= True)
data_sort

                         visitor_id       date  no_of_order  Day  Month  Year
0      ++DZ24GqVhNE0Bl7f3Zp06lWjj4= 2020-01-12            2   12      1  2020
1      ++HN809MR7t8V9QmdOEA36NubfI= 2019-11-25            2   25     11  2019
2      ++J4GEqZUrL8Rf7XrURsNNt6KPw= 2019-11-09            1    9     11  2019
3      ++P59XK9q+K1acy8MeRVzfrfOz0= 2019-11-12            1   12     11  2019
4      ++P59XK9q+K1acy8MeRVzfrfOz0= 2019-11-13            2   13     11  2019
...                             ...        ...          ...  ...    ...   ...
89079  zzGUju7RRo8FrQOIOmNM9vgwuns= 2019-12-14            1   14     12  2019
89080  zzURsuIJlSzPj3lOz19YWU1VMrE= 2019-11-27            1   27     11  2019
89081  zzWdLg/Dyw9eyko6k+ZSDUuTio0= 2019-11-14            1   14     11  2019
89082  zzWdLg/Dyw9eyko6k+ZSDUuTio0= 2019-11-16            1   16     11  2019
89083  zzxiPB4vtRlO3eKR9TsP2+iQapc= 2019-11-20            1   20     11  2019

[89084 rows x 6 columns]

In [4]:
data_sort['old_cust'] =""

In [5]:
#Find new customer: 
for i in range(0,89083): 
    if data_sort['visitor_id'][i] == data_sort['visitor_id'][i+1]:
        data_sort['old_cust'][i]=1
        data_sort['old_cust'][i+1] =1
data_sort

<ipython-input-5-f3e0fa12bb06>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sort['old_cust'][i]=1
<ipython-input-5-f3e0fa12bb06>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sort['old_cust'][i+1] =1

,visitor_id,date,no_of_order,Day,Month,Year,old_cust
0,++DZ24GqVhNE0Bl7f3Zp06lWjj4=,2020-01-12,2,12,1,2020,
1,++HN809MR7t8V9QmdOEA36NubfI=,2019-11-25,2,25,11,2019,
2,++J4GEqZUrL8Rf7XrURsNNt6KPw=,2019-11-09,1,9,11,2019,
3,++P59XK9q+K1acy8MeRVzfrfOz0=,2019-11-12,1,12,11,2019,1
4,++P59XK9q+K1acy8MeRVzfrfOz0=,2019-11-13,2,13,11,2019,1
...,...,...,...,...,...,...,...
89079,zzGUju7RRo8FrQOIOmNM9vgwuns=,2019-12-14,1,14,12,2019,
89080,zzURsuIJlSzPj3lOz19YWU1VMrE=,2019-11-27,1,27,11,2019,
89081,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,2019-11-14,1,14,11,2019,1
89082,zzWdLg/Dyw9eyko6k+ZSDUuTio0=,2019-11-16,1,16,11,2019,1
89083,zzxiPB4vtRlO3eKR9TsP2+iQapc=,2019-11-20,1,20,11,2019,

In [6]:
#Double check: 
data_sort.head(10)

,visitor_id,date,no_of_order,Day,Month,Year,old_cust
0,++DZ24GqVhNE0Bl7f3Zp06lWjj4=,2020-01-12,2,12,1,2020,
1,++HN809MR7t8V9QmdOEA36NubfI=,2019-11-25,2,25,11,2019,
2,++J4GEqZUrL8Rf7XrURsNNt6KPw=,2019-11-09,1,9,11,2019,
3,++P59XK9q+K1acy8MeRVzfrfOz0=,2019-11-12,1,12,11,2019,1
4,++P59XK9q+K1acy8MeRVzfrfOz0=,2019-11-13,2,13,11,2019,1
5,++P59XK9q+K1acy8MeRVzfrfOz0=,2019-11-18,1,18,11,2019,1
6,++P59XK9q+K1acy8MeRVzfrfOz0=,2019-12-07,1,7,12,2019,1
7,++RP+syfDvZiTf/Pmov3PdEeFWM=,2019-12-04,3,4,12,2019,
8,++Rc3Z/cGqApeiipO78fSuUXrdo=,2019-12-24,1,24,12,2019,1
9,++Rc3Z/cGqApeiipO78fSuUXrdo=,2019-12-25,2,25,12,2019,1

In [129]:
#From data_sort table get list of old customer:
old_cust = data_sort.loc[data_sort['old_cust']==1]
old_cust= old_cust.drop(columns ='old_cust')
old_cust.sort_values(by = 'date')
old_cust

                         visitor_id       date  no_of_order  Day  Month  Year
34712  MdvIRm9ocjIOsG2/2zeWxwDaDdI= 2019-11-01            2    1     11  2019
58973  e2cvLyV0HshXCzHUoKTZZ7HsWj4= 2019-11-01            1    1     11  2019
20801  CgsM/0G0pdNF90Nqi+1GDiMFOJc= 2019-11-01            1    1     11  2019
46675  VDZY6z/EVMEa1FBHHqEhAsY9Ylo= 2019-11-01            1    1     11  2019
11966  6YCzptxp/BqkEHqp0uWiuA24UsQ= 2019-11-01            1    1     11  2019
...                             ...        ...          ...  ...    ...   ...
38240  P8rKC5QtPdqh0eTPKMG6x8rwQT0= 2020-02-08            1    8      2  2020
54682  b6lZXbNIWFjTXarJ1ToE8VK3MSw= 2020-02-08            1    8      2  2020
12989  7Cau19/cmqJ6FYFVxhXwLteshTQ= 2020-02-08            1    8      2  2020
2550   /nvqHkNaEu3bjGOcUmiBlBA6BSY= 2020-02-08            1    8      2  2020
72137  nkzoZh6wP52J4cRpc++kEPKNycY= 2020-02-08            1    8      2  2020

[65163 rows x 6 columns]

In [149]:
#Merge visitor source into table for further analysis:
old_cust = pd.merge(old_cust,cust_info, how ='left',on='visitor_id')
old_cust = old_cust.drop(columns=['date','Day','Month','Year'])
old_cust

,visitor_id,no_of_order,create_date,gender,age,visitor_source
0,MdvIRm9ocjIOsG2/2zeWxwDaDdI=,2,2019-11-01,Nam,21.0,Website công ty
1,e2cvLyV0HshXCzHUoKTZZ7HsWj4=,1,2019-11-01,Nam,25.0,Website công ty
2,CgsM/0G0pdNF90Nqi+1GDiMFOJc=,1,2019-11-01,Nữ,30.0,Website công ty
3,VDZY6z/EVMEa1FBHHqEhAsY9Ylo=,1,2019-11-01,Nam,20.0,Sàn thương mại điện tử
4,6YCzptxp/BqkEHqp0uWiuA24UsQ=,1,2019-11-01,Nam,17.0,Website công ty
...,...,...,...,...,...,...
65158,P8rKC5QtPdqh0eTPKMG6x8rwQT0=,1,2019-11-08,Nam,43.0,Website công ty
65159,b6lZXbNIWFjTXarJ1ToE8VK3MSw=,1,2019-12-12,Nam,23.0,Website công ty
65160,7Cau19/cmqJ6FYFVxhXwLteshTQ=,1,2020-02-01,Nữ,0.0,Cừa hàng
65161,/nvqHkNaEu3bjGOcUmiBlBA6BSY=,1,2020-02-07,Nữ,25.0,Cừa hàng
65162,nkzoZh6wP52J4cRpc++kEPKNycY=,1,2020-01-04,Nam,46.0,Cừa hàng

In [152]:
old_cust.head(50)

,visitor_id,no_of_order,create_date,gender,age,visitor_source
0,MdvIRm9ocjIOsG2/2zeWxwDaDdI=,2,2019-11-01,Nam,21.0,Website công ty
1,e2cvLyV0HshXCzHUoKTZZ7HsWj4=,1,2019-11-01,Nam,25.0,Website công ty
2,CgsM/0G0pdNF90Nqi+1GDiMFOJc=,1,2019-11-01,Nữ,30.0,Website công ty
3,VDZY6z/EVMEa1FBHHqEhAsY9Ylo=,1,2019-11-01,Nam,20.0,Sàn thương mại điện tử
4,6YCzptxp/BqkEHqp0uWiuA24UsQ=,1,2019-11-01,Nam,17.0,Website công ty
5,DUdyaXHNY7eeESVtlqA1BU7hwmM=,6,2019-11-01,Nam,16.0,Website công ty
6,6W0pZlEe/7IanrBcFKJUlOa3wUs=,1,2019-11-01,Nam,25.0,Website công ty
7,yJomYDTlfNXsFMVmql/UcdWS9cA=,1,2019-11-01,Không rõ,NaN,Website công ty
8,MS36D4J+qmMhmrBWsr4yhVh3Bxk=,5,2019-11-01,Không rõ,16.0,Website công ty
9,EOVJJccmtxr9xWavUF5Ma9jRhLM=,8,2019-11-01,Không rõ,NaN,Sàn thương mại điện tử
10,ra0AwjldnzppjAndJ7WDpp0xWow=,1,2019-11-01,Nam,17.0,Website công ty
11,bAxR9JaKbkhVv6FwkWJvge7KFXE=,2,2019-11-01,Không rõ,NaN,Website công ty
12,/hYvcu32bHoLWxYT2XvPGvE7nWM=,1,2019-11-01,Nữ,19.0,Cừa hàng
13,EOAl+aP3HN4t5EjvdDmZO8UKbz4=,2,2019-11-01,LGBT,26.0,Website công ty
14,MUiOfRJy+O4ymhfjtsuGK2FSiy0=,4,2019-11-01,Nam,25.0,Website công ty
15,POXWVwG7h7Vqv0g0539ZbRWnsvo=,10,2019-11-01,Nam,25.0,Website công ty
16,rXyE4KJhxeVaDTy/Rt+R/JHBenA=,2,2019-11-01,Nam,NaN,Website công ty
17,WrraqgEvQcFX9nf0EBsa8nftmYw=,2,2019-11-01,Không rõ,NaN,Website công ty
18,Ie1FKiET1HQzLucO3+2E2im1npg=,1,2019-11-01,LGBT,1.0,Website công ty
19,V1PGzdjvXNTiWTRW5IFww6kjszw=,1,2019-11-01,Nam,NaN,Website công ty
20,mp8z0wNh7U8rZ3IDqhV7U9xhL6Y=,1,2019-11-01,Nữ,28.0,Cừa hàng
21,mjQuHhlRRUowoaChXbMf/bnhjTQ=,1,2019-11-01,Nữ,NaN,Website công ty
22,bX9TgJpkjsdqcqDm+cly3NMyC1Q=,3,2019-11-01,Nữ,56.0,Website công ty
23,KXkCBMcZLvHFVwCft8OENyxR828=,4,2019-11-01,Nữ,1.0,Website công ty
24,rASEBeABxuyfyVty644oKxVjmLo=,1,2019-11-01,Không rõ,NaN,Cừa hàng
25,6ZuXgMCybabr3IkFsM9ZKa9qFUo=,2,2019-11-01,LGBT,16.0,Website công ty
26,yNTrDe/k3QEjMkYPN/ZJBK0Iw24=,1,2019-11-01,Không rõ,1.0,Website công ty
27,hlMcu868cFqzH3AlslvhPH7XWjM=,4,2019-11-01,Không rõ,NaN,Website công ty
28,6qTOJRiWWR+Qg8VuzkB1X9CdANQ=,1,2019-11-01,Không rõ,NaN,Website công ty
29,hff5haFhNvKtHjvDD9Szx0nsWqo=,1,2019-11-01,LGBT,22.0,Website công ty
30,PDEMCmDfoJQJet/52yX19/A458Q=,1,2019-11-01,Nam,50.0,Website công ty
31,ub3PgkO9n8/IifcWgHTiRm0xXIQ=,1,2019-11-01,Nam,24.0,Website công ty
32,fYzG5Le9bSArCZuGxKPEqnuTR9E=,2,2019-11-01,Nữ,29.0,Cừa hàng
33,5gwuIjeqd0ZdH1Gd2zYiy7RL9p0=,1,2019-11-01,Nữ,1.0,Website công ty
34,sDK/xkwvja7cuYyKYzyGyCSxTE4=,1,2019-11-01,Không rõ,NaN,Cừa hàng
35,Yb8aOUH0iCZ+Pu6fzIvZP5jGEDY=,1,2019-11-01,Nam,20.0,Website công ty
36,Vfq4+A4tlC/Gv1l18rT3MoOYAYk=,1,2019-11-01,Không rõ,NaN,Website công ty
37,mEcmgtrHzyO7iJqLeaTVQKutRko=,2,2019-11-01,Nam,27.0,Cừa hàng
38,Vem7L6S4ls5NguQIn64iTEnjtQU=,1,2019-11-01,LGBT,20.0,Website công ty
39,3QCtbQvB+IUQxok6k4yo2F7Wa7M=,2,2019-11-01,Nữ,18.0,Website công ty
40,I8k0/ukdR+uLf+ZFpvjSki53dDU=,4,2019-11-01,Nữ,19.0,Cừa hàng
41,hacwIC8ab7TmclNw1eOuA1Btj8k=,1,2019-11-01,Nam,21.0,Cừa hàng
42,QLXQhI0U5RrG9n/+HgA8Juk1/lE=,17,2019-11-01,Không rõ,NaN,Website công ty
43,U4cX4FlwxCrJhd1HH0ELwoQU91U=,4,2019-11-01,Nam,21.0,Website công ty
44,+Bs058M58ladlHd5UfAw6qiSQwo=,3,2019-11-01,Nam,33.0,Cừa hàng
45,jQoQ9mt/0O9/7ByfEV9Gun+hDnw=,2,2019-11-01,Không rõ,NaN,Cừa hàng
46,fPdavEOPChsyeuVjX0+y90B5itU=,1,2019-11-01,LGBT,26.0,Website công ty
47,mL4qvCFh1kPirJgoay6U6U0T17Y=,1,2019-11-01,Nam,23.0,Website công ty
48,fIdl3jrFFwPr+ZMHDgqepvU1C6g=,1,2019-11-01,Nữ,100.0,Cừa hàng
49,PItpxAT4Dyyj6/qCSIS7ElNyCWc=,1,2019-11-01,Nữ,NaN,Website công ty

In [145]:
#Create list of new customer: 
new_cust = data_sort.loc[data_sort['old_cust'] ==""]
new_cust = new_cust.drop(columns='old_cust')
new_cust.sort_values(by='date')
new_cust

                         visitor_id       date  no_of_order  Day  Month  Year
42817  SMQMkRjnKWWcsi7KoB7qbEIPr7Q= 2019-11-01            1    1     11  2019
34428  MRYN8WP3StraUwCQ64WGk8Ct4rI= 2019-11-01            1    1     11  2019
30480  JfFvGa7iHm4JOWVbKou5V7tMky4= 2019-11-01            1    1     11  2019
42801  SLNS28rLf2P+O/1hCPQOdJxewBk= 2019-11-01            1    1     11  2019
46739  VFZ13kIeRa/AiQFNY7u8KzvOy6Y= 2019-11-01            1    1     11  2019
...                             ...        ...          ...  ...    ...   ...
65174  iaCDapQXZC+n8yTZmnONgyggzTI= 2020-02-08            1    8      2  2020
46603  V9uvqWXnGRpyP3z62q3QD/U/9hI= 2020-02-08            2    8      2  2020
87259  yaqcDAuE4WHto7SQ5cj7yeg+SBs= 2020-02-08            1    8      2  2020
63924  hjJoHjHM9h0ng4PWswJsWK16UV4= 2020-02-08            1    8      2  2020
39985  QLmNhN15B2RDA+vbBNhs7nMMizU= 2020-02-08            1    8      2  2020

[23921 rows x 6 columns]

In [150]:
#Merge visitor source into table for further analysis:
new_cust = pd.merge(new_cust,cust_info, how ='left',on='visitor_id')
new_cust = new_cust.drop(columns=['date','Day','Month','Year'])
new_cust

,visitor_id,no_of_order,create_date,gender,age,visitor_source
0,SMQMkRjnKWWcsi7KoB7qbEIPr7Q=,1,2019-11-01,Nam,21.0,Website công ty
1,MRYN8WP3StraUwCQ64WGk8Ct4rI=,1,2019-11-01,Không rõ,NaN,Website công ty
2,JfFvGa7iHm4JOWVbKou5V7tMky4=,1,2019-11-01,LGBT,25.0,Website công ty
3,SLNS28rLf2P+O/1hCPQOdJxewBk=,1,2019-11-01,Nữ,NaN,Website công ty
4,VFZ13kIeRa/AiQFNY7u8KzvOy6Y=,1,2019-11-01,Nam,22.0,Website công ty
...,...,...,...,...,...,...
23916,iaCDapQXZC+n8yTZmnONgyggzTI=,1,2019-11-14,Nam,20.0,Website công ty
23917,V9uvqWXnGRpyP3z62q3QD/U/9hI=,2,2020-02-08,Nữ,13.0,Cừa hàng
23918,yaqcDAuE4WHto7SQ5cj7yeg+SBs=,1,2020-02-06,Nữ,13.0,Website công ty
23919,hjJoHjHM9h0ng4PWswJsWK16UV4=,1,2020-02-08,Nữ,19.0,Website công ty
23920,QLmNhN15B2RDA+vbBNhs7nMMizU=,1,2020-02-08,Nam,26.0,Cừa hàng

In [151]:
#Export those 2 files to excel file: 
old_cust.to_excel("old customer.xlsx", index = False)
new_cust.to_excel('new customer.xlsx', index = False)

<h1> II.Calculate Conversion Rate

<h4> Conversion_rate =  Number of Buyers / number of visitors

<H4> To solve this problem need to have number of buyers and number of visitor each day

In [10]:
#import data:
cust_info = pd.read_csv('visitor_information.csv')
cust_info

,create_date,visitor_id,gender,age,visitor_source
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng
1,2020-02-08,5I6he68XtIQHpsRGKp0EsfyM3x4=,LGBT,0.0,Website công ty
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử
...,...,...,...,...,...
126398,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng
126399,2020-02-05,y3cDfPPmSLJRtPGL0/pExUOAqeQ=,Không rõ,35.0,Sàn thương mại điện tử
126400,2020-02-06,snYIf8MqQkimpm2DpiTnXHx8IoM=,Nam,35.0,Cừa hàng
126401,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng
126402,2020-02-08,dJqc1yztgHr+2preC8/lqE/l2hI=,Không rõ,35.0,Sàn thương mại điện tử

<H5> 1.Find number of visitor each day:

*Company record the visitor at the first time they come visit company site, store,... So all information in cust_info sheet is considered to be first time visit*

In [52]:
#Find number of visitor every day of the company
visit_every_day = cust_info.groupby(['create_date','visitor_source']).count().reset_index().rename(columns = {"visitor_id":"number visitor"})
#Drop unnessary columns:
visit_every_day = visit_every_day.drop(columns = ['gender','age'])
visit_every_day

    create_date          visitor_source  number visitor
0    2019-11-01                Cừa hàng             170
1    2019-11-01  Sàn thương mại điện tử              56
2    2019-11-01         Website công ty            1972
3    2019-11-02                Cừa hàng             197
4    2019-11-02  Sàn thương mại điện tử              62
..          ...                     ...             ...
295  2020-02-07  Sàn thương mại điện tử              71
296  2020-02-07         Website công ty             180
297  2020-02-08                Cừa hàng              78
298  2020-02-08  Sàn thương mại điện tử              36
299  2020-02-08         Website công ty             171

[300 rows x 3 columns]

In [121]:
visit_every_day['create_date'] = pd.to_datetime(visit_every_day['create_date'])

<H5> 2.Find number of new buyer order every day:

*Number of buyers at the first time visit company is calculate by count number of buyers who have date visit = day buy*

In [55]:
#Create Dataframe contents first time buy of all customers company currently have: 
#To have first buy sort order day and keep the first day: 
data_sort = data_sort.sort_values(by='date')
first_time = data_sort.drop_duplicates(subset= "visitor_id", keep="first")
first_time

,visitor_id,date,no_of_order,Day,Month,Year,old_cust
34712,MdvIRm9ocjIOsG2/2zeWxwDaDdI=,2019-11-01,2,1,11,2019,1
58973,e2cvLyV0HshXCzHUoKTZZ7HsWj4=,2019-11-01,1,1,11,2019,1
42817,SMQMkRjnKWWcsi7KoB7qbEIPr7Q=,2019-11-01,1,1,11,2019,
20801,CgsM/0G0pdNF90Nqi+1GDiMFOJc=,2019-11-01,1,1,11,2019,1
46675,VDZY6z/EVMEa1FBHHqEhAsY9Ylo=,2019-11-01,1,1,11,2019,1
...,...,...,...,...,...,...,...
65174,iaCDapQXZC+n8yTZmnONgyggzTI=,2020-02-08,1,8,2,2020,
46603,V9uvqWXnGRpyP3z62q3QD/U/9hI=,2020-02-08,2,8,2,2020,
87259,yaqcDAuE4WHto7SQ5cj7yeg+SBs=,2020-02-08,1,8,2,2020,
63924,hjJoHjHM9h0ng4PWswJsWK16UV4=,2020-02-08,1,8,2,2020,
39985,QLmNhN15B2RDA+vbBNhs7nMMizU=,2020-02-08,1,8,2,2020,

<H5> Find customer who first come and first buy:

In [110]:
#Merge cust_info and first_time buyers sheet together:
first_visitbuy = pd.merge(cust_info, first_time,how ='inner',left_on=['visitor_id'], right_on=['visitor_id'])
first_visitbuy

,create_date,visitor_id,gender,age,visitor_source,date,no_of_order,Day,Month,Year,old_cust
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng,2020-02-08,5,8,2,2020,
1,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty,2020-02-08,1,8,2,2020,
2,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty,2020-02-08,2,8,2,2020,
3,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử,2020-02-08,1,8,2,2020,
4,2020-02-07,GqKV6pJppdUioNAsKX+crb+LqEY=,Nữ,13.0,Website công ty,2020-02-07,2,7,2,2020,
...,...,...,...,...,...,...,...,...,...,...,...
39434,2020-01-02,m43ILoytgP6aLnAGDwFM5ps9lpY=,Nam,35.0,Website công ty,2020-01-02,3,2,1,2020,1
39435,2020-01-10,Z9BJ+05aJa95e3BquMP7FBHIbfM=,Nam,35.0,Website công ty,2020-01-10,1,10,1,2020,
39436,2020-01-24,1cSzI84OFUmAwrh0m7LoznW/Wj8=,Nam,35.0,Cừa hàng,2020-01-26,1,26,1,2020,1
39437,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng,2020-02-04,1,4,2,2020,
39438,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng,2020-02-06,2,6,2,2020,

In [111]:
#Convert create_date data type into datetime: 
first_visitbuy['create_date']=pd.to_datetime(first_visitbuy['create_date'])

In [112]:
first_visitbuy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39439 entries, 0 to 39438
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   create_date     39439 non-null  datetime64[ns]
 1   visitor_id      39439 non-null  object
 2   gender          39439 non-null  object
 3   age             20943 non-null  float64
 4   visitor_source  39439 non-null  object
 5   date            39439 non-null  datetime64[ns]
 6   no_of_order     39439 non-null  int64
 7   Day             39439 non-null  int64
 8   Month           39439 non-null  int64
 9   Year            39439 non-null  int64
 10  old_cust        39439 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(4), object(4)
memory usage: 3.6+ MB

In [113]:
#Loc ID that have first buy = with fist visit: 
first_visitbuy =first_visitbuy.loc[first_visitbuy['create_date'] == first_visitbuy['date']]
first_visitbuy

,create_date,visitor_id,gender,age,visitor_source,date,no_of_order,Day,Month,Year,old_cust
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng,2020-02-08,5,8,2,2020,
1,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty,2020-02-08,1,8,2,2020,
2,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty,2020-02-08,2,8,2,2020,
3,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử,2020-02-08,1,8,2,2020,
4,2020-02-07,GqKV6pJppdUioNAsKX+crb+LqEY=,Nữ,13.0,Website công ty,2020-02-07,2,7,2,2020,
...,...,...,...,...,...,...,...,...,...,...,...
39433,2019-12-29,KhdjJ48b5bpGyl5tNx0ada1OGTc=,Nam,35.0,Cừa hàng,2019-12-29,2,29,12,2019,1
39434,2020-01-02,m43ILoytgP6aLnAGDwFM5ps9lpY=,Nam,35.0,Website công ty,2020-01-02,3,2,1,2020,1
39435,2020-01-10,Z9BJ+05aJa95e3BquMP7FBHIbfM=,Nam,35.0,Website công ty,2020-01-10,1,10,1,2020,
39437,2020-02-04,UaPkbFX9VqV4szba0Ya/E5SFKS4=,Nam,35.0,Cừa hàng,2020-02-04,1,4,2,2020,
39438,2020-02-06,42YVqRkkg0q2PNI4UkLLdKY7SYs=,Nam,35.0,Cừa hàng,2020-02-06,2,6,2,2020,

In [114]:
#Count number of ID first visit and first buy: 
first_visitbuy = first_visitbuy.groupby(['create_date','visitor_source']).count().reset_index()
first_visitbuy = first_visitbuy.drop(columns = ['Day','Month','Year','old_cust','age','date','gender','no_of_order'])
first_visitbuy

    create_date          visitor_source  visitor_id
0    2019-11-01                Cừa hàng          50
1    2019-11-01  Sàn thương mại điện tử          16
2    2019-11-01         Website công ty         346
3    2019-11-02                Cừa hàng          52
4    2019-11-02  Sàn thương mại điện tử          17
..          ...                     ...         ...
291  2020-02-07  Sàn thương mại điện tử           3
292  2020-02-07         Website công ty          39
293  2020-02-08                Cừa hàng          18
294  2020-02-08  Sàn thương mại điện tử           9
295  2020-02-08         Website công ty          35

[296 rows x 3 columns]

In [115]:
#Rename columns: 
first_visitbuy = first_visitbuy.rename(columns ={'visitor_id':'first_visitbuy'})
first_visitbuy

    create_date          visitor_source  first_visitbuy
0    2019-11-01                Cừa hàng              50
1    2019-11-01  Sàn thương mại điện tử              16
2    2019-11-01         Website công ty             346
3    2019-11-02                Cừa hàng              52
4    2019-11-02  Sàn thương mại điện tử              17
..          ...                     ...             ...
291  2020-02-07  Sàn thương mại điện tử               3
292  2020-02-07         Website công ty              39
293  2020-02-08                Cừa hàng              18
294  2020-02-08  Sàn thương mại điện tử               9
295  2020-02-08         Website công ty              35

[296 rows x 3 columns]

In [124]:
#create convertion rate Data frame: 
conversion_rate = pd.merge(first_visitbuy, visit_every_day, how= "outer", on=['create_date','visitor_source'])
conversion_rate

    create_date          visitor_source  first_visitbuy  number visitor
0    2019-11-01                Cừa hàng            50.0             170
1    2019-11-01  Sàn thương mại điện tử            16.0              56
2    2019-11-01         Website công ty           346.0            1972
3    2019-11-02                Cừa hàng            52.0             197
4    2019-11-02  Sàn thương mại điện tử            17.0              62
..          ...                     ...             ...             ...
295  2020-02-08         Website công ty            35.0             171
296  2019-12-14  Sàn thương mại điện tử             NaN              38
297  2020-01-26  Sàn thương mại điện tử             NaN               4
298  2020-01-27  Sàn thương mại điện tử             NaN               3
299  2020-01-29  Sàn thương mại điện tử             NaN               3

[300 rows x 4 columns]

In [125]:
# NA appears because there will be days with visits but no buyers,
#to solve it, it is necessary to add 0 to the NA positions
conversion_rate['first_visitbuy'] = conversion_rate['first_visitbuy'].fillna(0)
conversion_rate

    create_date          visitor_source  first_visitbuy  number visitor
0    2019-11-01                Cừa hàng            50.0             170
1    2019-11-01  Sàn thương mại điện tử            16.0              56
2    2019-11-01         Website công ty           346.0            1972
3    2019-11-02                Cừa hàng            52.0             197
4    2019-11-02  Sàn thương mại điện tử            17.0              62
..          ...                     ...             ...             ...
295  2020-02-08         Website công ty            35.0             171
296  2019-12-14  Sàn thương mại điện tử             0.0              38
297  2020-01-26  Sàn thương mại điện tử             0.0               4
298  2020-01-27  Sàn thương mại điện tử             0.0               3
299  2020-01-29  Sàn thương mại điện tử             0.0               3

[300 rows x 4 columns]

In [127]:
#Save tp Excel file for data visualization:
#conversion_rate.to_excel('conversion rate.xlsx')

<H1> III. Calculate the average time it takes for customer to buy again